{% extends "base.html.twig" %}

{% block title %}Home page
{% endblock %}

{% block body %}

<div class="container">
	<h1>
		Bienvenue sur ma homepage
	</h1>

	<div class="row mt-4">
		{% for recette in recettes %}
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{ recette.titre }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ recette.createdAt|format_datetime() }}</h6>
					<p class="card-text">{{recette.resumer}}</p>

					<a href="{{ path('recette_show', {id: recette.id}) }}" class="card-link btn btn-primary">Voir la recette</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}